body {
  font-family: sans-serif;
}

video {
  max-width: 100%;
  width: 48%;
  /*filter: blur(0px) invert(0) opacity(1);*/
  /*filter: hue-rotate(180deg) saturate(200%);*/
}
#chat-log{padding: 0; min-height: 450px; max-height: 700px; overflow: scroll;}
#chat-log li{list-style: none;}
#chat-log li span{background-color: #ccc; padding: 2px 5px; border-radius: 7px;}
.chat{border-left: 1px solid #ccc;}